# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ukdhstoqhcplbvqikhro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8nwP1lZYBYITV5HUFLc2kg_ZmsdUpz_
NEXT_PUBLIC_APP_URL=http://localhost:3000
